* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    position: relative; /*top-right-bottom-left*/
    animation: rfalling infinite;
    animation-duration: 3s;

}

@keyframes rfalling {
    0% {top: -200px}
    100% {top: 0px}
}


#yellow {
    opacity: 0%;
    background-color: yellow;
    animation: ydisappear infinite;   
    animation-duration: 3s;
    ;
}

@keyframes ydisappear {
    0% {opacity: 0;} /*0-1*/
    100% {opacity: 1;}

}


#green {
    background-color: green;
    animation: grotate infinite; 
    animation-duration: 3s;
}

@keyframes grotate {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

/*HINT -   transform: rotateY(0deg);*/